.apps-div{
    margin-left: 165px;
    margin-right: 165px;
}
.top-app-block > h2{
    text-align: left;
}
.card-view-playstore{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.MuiCardContent-root {
    padding: 0px;
    margin: 0px;
}
.div-bluestacks{
    background: #1F2640;
    justify-content: space-between;
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
    height: 80px;
    align-items: center;
}
.reload {
    font-family: Lucida Sans Unicode;
    color: white;
    font-size: 24px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.bluestacks-logo{
    width: 147px;
    height: 45px;
}